{% extends "base.html" %} {% block content %}
  <table class="table table-striped table-dark">
    <thead class="text-primary">
      <tr>
        <th>Image</th>
        <th>Result</th>
        <th>Probability</th>
        <th>Patient's Name</th>
        <th>Patient's Age</th>
        <th>Generate remediation steps</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in data %}
        <tr data-existing-result="{{ entry.result }}" data-existing-probability="{{ entry.probability }}">
          <!-- <td><img src="{{ url_for('static', filename='uploads/' + entry.image_data) }}" width="100"></td> -->
          <td>{{ entry.image_data }}</td>

          <td>
            {% if entry.result == 'DR Stage 1' %}
                <span class="badge badge-warning">DR Stage 1</span>
            {% elif entry.result == 'DR Stage 3' %}
                <span class="badge badge-danger">DR Stage 3</span>
            {% elif entry.result == 'DR Stage 2' %}
                <span class="badge badge-warning">DR Stage 2</span>
            {% elif entry.result == 'Healthy Retina' %}
                <span class="badge badge-info">Healthy Retina</span>
            {% endif %}
          </td>
          
          <td>{{ entry.probability }}</td>
          <td>
            <input type="text" class="input-field" placeholder="Enter name">
          </td>
          <td>
            <input type="text" class="input-field" placeholder="Enter age">
          </td>
          <td>
            <button style="height:30px" class="button btn btn-info" onclick="processRow(this)">Generate instant remediation</button>
          </td>
          <td>
            <button style="width:30px;height:30px" class="" onclick="deleteEntry('{{ entry.id }}')">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
   
<script>
    async function deleteEntry(entryId) {
      const confirmDelete = confirm("Are you sure you want to delete this entry?");
      if (!confirmDelete) {
        return;
      }
  
      try {
        const response = await fetch(`/delete_entry/${entryId}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
          },
        });
  
        if (response.ok) {
          // Reload the page after successful deletion
          window.location.reload();
        } else {
          console.error('Error deleting entry:', response.statusText);
        }
      } catch (error) {
        console.error('Error deleting entry:', error);
      }
    }
  </script>
{% endblock %}
